<% if @feed_items.any? %>
	<ol class="microposts">
		<!-- @feed_items has class Microposts, renders shared/microposts -->
		<%= render @feed_items %>
	</ol>
	<%= will_paginate @feed_items %>
<% else %>
	<h3>You have not created a micropost yet! Make one now :)</h3>
<% end %>